{% extends 'core/two_columns.html' %}
{% load static %}

{% block site_title %}
    Task "{{ object.name }}"
{% endblock %}


{% block  left_column %}
    <h1>{{ object.name }}</h1>
    <p>{{ object.description_html|safe }}</p>
    <form class="ajax-form" action="{% url 'submit submission' %}" method="post">
        <input type="hidden" name="task_id" value="{{ object.id }}"/>
        <textarea class="form-control" rows="10" name="code"></textarea>
        <div class="row">
            {% for submission_type in submission_types %}
                <label class="form-control col">
                    <input type="radio" name="submission_type_id" value="{{ submission_type.id }}"/>
                    {% if submission_type.name == 'c++' %}
                        <span>C/C++</span>
                    {% else %}
                        <span>{{ submission_type.name|capfirst }}</span>
                    {% endif %}
                </label>
            {% endfor %}
            <button class="btn btn-primary col">Submit</button>
        </div>
    </form>
{% endblock %}

{% block right_column %}
    {% include 'partials/submissions/user-submissions.html' %}
{% endblock %}

{% block scripts_body_end %}
    <script src="{% static 'js/submit.js' %}"></script>
{% endblock %}